*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all ease-in-out 0.2s; */
  
   /* border: 1px dashed transparent;  */
}


/* .fases{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
} */

.alarm-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 38%;
  right: 8%;
  border-radius: 10px;
  background: #1D1C19;

  gap: 15px; 
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 55px;
  border-radius: 7px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: rgb(245, 245, 245);

  
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  
}

 .alarm-container h1{
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
    border-radius: 5px;
    padding: 1px;
    color: rgb(245, 245, 245);
 
 }

 .alarm-container button {
  padding: 3px;
  border-radius: 5px;
  margin-left: 118px;
  align-items: center;
  display: flex;
}

.alarm-controls select option{
  padding: 5px;
  border-radius: 5px;
  margin-left: 150px;
}


 .alarm-controls{
    display: grid;
    align-items:center;
    
   
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
    width: 100%;
    
    margin: 6px;
    
} 

.team-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 63px;
  color: white;
  
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


body {
  height: 100vh;
  width: 100vw;
  
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;

  overflow-x: hidden;
}

body * {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

#app {
 width: fit-content;
 margin: 52px auto;
 
}

header {
  text-align: center;
  margin-bottom: 60px;
}

#cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
 #cards {
  max-width: 670px;
  flex-direction: column;
 }

}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover{
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}


.card {
  opacity: 0;
  animation:appear .2s forwards;
  
}

@keyframes appear {
  0% {
  transform: translateX(-50px);
  opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card:hover {
  transform: scale(105%);

}

.card {
  padding: 32px 50px;
  text-align: center;

  background-color: #1D1C19;
  border-bottom: 2px solid #43f743;
  border-radius: 6px;
}

.card h2 {
  gap: 16px; 
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid green;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
 color: #E1E1E6;
}


.card ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
 
  width: 270px;
}

.card ul li img {
 margin-bottom: 12px;
 
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white; 
}

.card ul li + li {
  padding-top: 24px ;
  border-top: 1px solid #323238;
}


.card ul li strong {
font-weight: 900;
font-size: 36px;
line-height: 150%;
color: white;
}

/*BARRA DE ROLAGEM*/

::-webkit-scrollbar-track{
  background-color: #232c3b;
}

::-webkit-scrollbar{
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb{
 background: #0cdd5c ;
 border-radius: 15px;
}

footer h4{
align-items: center;
display: flex;
flex-direction: column;

font-size: 15px;

color: white;
}